.header-group {
    background-color: rgba(78, 91, 206, 0.85);
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 1.5em;
}

.header-group-title {
    text-align: center;
    font: 1.25em Exo-Bold;
}

.header-group-description {
    text-align: center;
    font-size: 1.1em;
}
