.load-json-form {
    width: 25%;
    margin: 0 auto;
    margin-top: 0.5em;
}

.load-json-form-submit-container {
    text-align: center;
}

.load-json-form-submit {
    margin-top: 0.5em;
    background-color: rgb(46, 46, 46, 0.8);
    font-family: Exo-Medium;
    color: white;
}
