.reset-config-group-description,
.reset-config-button-container {
    text-align: center;
}

.reset-config-button {
    margin-top: 0.5em;
    background-color: rgb(46, 46, 46, 0.8);
    font-family: Exo-Medium;
    color: white;
}
