.json-item-editor {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.json-item-editor-title {
    font: 0.9em Exo-Bold;
}

.json-item-editor-description {
    font-size: 0.85em;
}

.json-item-editor-flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0.35em;
}

.json-item-editor-flex-container > * {
    margin-right: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.json-item-editor-input {
    background-color: rgb(46, 46, 46, 0.8);
    font-family: Exo-Medium;
    color: white;
}

.json-item-editor-input.color {
    max-width: 5em;
}
