@font-face {
    font-family: Torus;
    font-weight: 100;
    src: url(/fonts/Torus-Thin.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(/fonts/Torus-SemiBold.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(/fonts/Torus-SemiBold.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 400;
    src: url(/fonts/Torus-Regular.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 300;
    src: url(/fonts/Torus-Light.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 900;
    src: url(/fonts/Torus-Heavy.otf);
}

@font-face {
    font-family: Torus;
    font-weight: 800;
    src: url(/fonts/Torus-Bold.otf);
}

body {
    background-color: #222;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/background.jpg");
    background-position: center;
    background-attachment: fixed;
    font-family: Torus, sans-serif;
    color: white;
    margin: 0 auto;
    max-width: min(800px, 100%);
}
