.group-item {
    background-color: rgba(54, 54, 54, 0.9);
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 1.5em;
}

.group-break-line {
    border: 0;
    border-top: thick double lightgray;
}

.group-item .group-title {
    text-align: center;
    font: 1.1em Exo-Bold;
}

.group-item .group-description {
    font-size: 0.9em;
}
