.group-item {
    background-color: rgba(54, 54, 54, 0.9);
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 1.5em;
}

.group-break-line {
    border: 0;
    border-top: thick double rgba(168, 168, 168, 0.8);
}

.group-item .group-title {
    text-align: center;
    font: 1.1em Exo-Bold;
}

.group-item .group-title-collapsible {
    text-align: center;
    font: 1.1em Exo-Bold;
    cursor: pointer;
}

.group-item .group-description {
    font-size: 0.9em;
    margin-top: 1em;
    text-align: center;

    li {
        text-align: left;
    }
}

.group-item > .collapsed {
    display: none;
}
